*{
    margin: 0;
    padding:0;
    box-sizing: border-box;

}
.thulo{
   align-items: center;
    color:white;

}
.vitra{
    width: 60%;
    margin:  auto;
    display: flex;
    background-color: gray;
    border-radius: 10px;
    box-shadow: 0 0 10px rgb(0,0,0);
}
.thulotauko{
    align-items: center;
    text-align:center;
    font-size: 30px;
    margin-top: 50px;
    margin-bottom: 30px;
    color: black;
    font-weight: bolder;
    border-bottom: 2px solid greenyellow;
}

.yeuta{
    width: 60%;
    align-items: center;
    background-color: #0000;
    margin: auto;
}
form{
    align-items: center;
   padding: 20px;
   width: 90%;
   margin-left:30px;
    display: inline-block;
}
li{
    list-style: none;
    margin: 20px;

}
.msg{
    text-align: center;
    font-size: 20px;
}
input ,
textarea{
    border: none;
    outline: none;
    border-bottom: 2px solid #000;
    width:100%;
    background-color: transparent;
    color: #FFF;
    margin-bottom: 20px;
    font-size: 20px;
}

.vitra .arko{
    width: 40%;
    margin: auto;
    border-left: 2px solid yellow;
    
}
.arkovitra{
    align-items: center;
    padding-left:20px;
    display: inline-block;
}
.arkovitra h1{
    text-align: center;
    margin-bottom: 20px;
}
.arkovitra p{
    margin-bottom: 20px;
}