*{
	margin:0;
	padding:0;
	box-sizing: border-box;
	font-family:sans-sarif;

}
body{
	background:#111;
}
section{
	position: relative;
	width: 100%;
	height: 100vh;
	overflow: hidden;
	display:flex;
	justify-content: center;
	align-items: center;
}
section img{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	line-height: 100%;
	object-fit: cover;
}

section #bichko{
	position: relative;
	color:white;
	font-size: 60px;

}