body{
    overflow-x: hidden;
    overflow-y:hidden;
    font-family: 'Roboto Condensed', sans-serif;
    background-color: cadetblue;
     font-size: 2em;
     line-height: 1.5;
    
} 

.slides {
position: relative;
}
.slides .slide {
position: absolute;
top: 0;
width: calc(33% - 1em);
max-height: 3.5em;
margin: 0.5em;
padding: 1em;
background: #34495e;
color: white;
float: left;
overflow: hidden;
box-shadow: 0 0 20px ;
text-align: center;
border-radius: 20px;
transition: max-height 0.20s ease-in-out, width 0.20s 0.20s ease-in-out, left 0.25s 0.5s ease-in-out, top 0.25s 0.65s ease-in-out;
}
.slides .slide:nth-child(1) {
left: 0%;

}
.slides .slide:nth-child(2) {
left: 33.3333%;
}
.slides .slide:nth-child(3) {
left: 66.6666%;
}
.slides .slide > a {
display: block;
padding-bottom: 1em;
font-family: 'Roboto Condensed', sans-serif;
text-transform: uppercase;
text-decoration: none;
color: #fff;
transition: color 2s;
}
.slides .slide.active {
position: absolute;
top: 4.5em;
left: 0;
width: 100%;
max-height: 20em;
float: none;
transition: top 0.25s 1s ease-in-out, left 0.25s 1.25s ease-in-out, width 0.25s 1.5s ease-in-out, max-height 0.25s 1.75s ease-in-out;
}
.slides .slide.active a {
color: white;
}

*, *:before, *:after {
box-sizing: border-box;
}
html, body {
width: 100%;
height: 100%;
}
html {
font-size: 62.5%;
}


.container {
width: 90%;
max-width: 1200px;
margin:auto;
background-color: aqua;

}
